.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.right,.left{
    background-color: #212EA0;
    border-radius: 5rem;
    padding: 5px;
    color: #FFF;
    font-size: calc(1rem + 2vw);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.right{
    right: 0;
}
.left {
    left: 0;
}

.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    overflow-x: hidden;
    transition: 0.5s;
}

.slider ul li{
    list-style: none;
    padding: 20px;
    width: 50%;
}

.slide{
    box-shadow: 0 0 20px rgba(0, 0, 0,0.2);
    padding: 40px;
    border-radius: 3rem;
    color: #676767;
    line-height: 1.4;
    transition: 0.1s;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}


.slide img{
    width: 25%;
    border-radius: 5rem;
    margin-right: 10px;
    border: 4px solid #212EA0;
    min-width: 5rem;
}

.user-info h3{
    font-size: calc(0.5rem + 1vw);
    color:var(--lightblue);
}

.user-info span{
    font-size: calc(0.5rem + 1vw);
}

.slide p{
    font-size: calc(0.5rem + 1vw);
}


@media(max-width:800px){
    .testimonials{
        padding: 20px;
    }
}

@media(max-width:350px){
    .testimonials{
        padding: 0px;
    }
}